* {
    margin: 2;
}
/* Body styles */
body {
    background-image: url("https://pixy.org/src/11/112327.jpg");
    background-position: center;
}
/* Navbar styles */
.navbar {
    background: rgb(50, 156, 163) !important;
    font-size: 35px;
    text-decoration: underline;
     
}
/* Name in navbar style */
.navbar-brand {
    font-size: 38px;
}

.lead {
    font-size: 35px;
    color: aqua;
    float: right;
    
}
/* About Me Section */
h2 {
    text-decoration: underline;

}
/* Cool Subtitle */
p {
    font-style: italic;
    font-size: 20px;
    color:aqua
}

/* Places the navbar at the bottom of the page, and makes it stick */
.footer {
    background-color:rgb(50, 156, 163);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Styles the links inside the navigation bar */
  .footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Changes the color of links on hover */
  .footer a:hover {
    background-color: rgb(131, 43, 126);
    color: black;
    
  }
  
  /* Adds a color to the active link */
  .footer a.active {
    background-color: #323c9e;
    color: white;
  }

