* {
    margin: 2;
}
/* Body styles */
body {
    background-image: url("https://pixy.org/src/11/112327.jpg");
    background-position: center;
}
/* Navbar styles */
.navbar {
    background: rgb(50, 156, 163) !important;
    font-size: 35px;
    text-decoration: underline;
     
}
/* Name in navbar style */
.navbar-brand {
    font-size: 38px;
}

.lead {
    font-size: 35px;
    color: aqua;
    float: right;
}
/* About Me Section */
h2 {
    text-decoration: underline;

}

p {
    font-style: italic;
    font-size: 20px;
}

/* Place the navbar at the bottom of the page, and make it stick */
.footer {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .footer a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .footer a.active {
    background-color: #4CAF50;
    color: white;
  }

