* {
    margin: 0;
}

body {
    border: 3px solid darkgreen;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/2362226/pexels-photo-2362226.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
}

header {
    background-color: indianred;
    height: 100px;
    margin: 20px;
}

.navbar-brand {
    font-size: 50px;
    text-decoration: underline;
}

.navbar {
    background: rgb(50, 156, 163) !important;
    font-size: 35px;
    text-decoration: underline;
    
}

.dropdown-menu {
    background-color: rgb(79, 206, 163);
    font-size: 28px;
    text-align: center;
}

p {
    color: rgb(188, 199, 167);
    font-size: 35px;
    
}