* {
    margin: 0;
}

body {
    border: 3px solid darkgreen;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

header {
    background-color: indianred;
    height: 100px;
    margin: 20px;
}

.navbar {
    background: peachpuff !important;
}

p {
    color: green;
    font-size: 55px;
}